# ==========================================
# FILE DI CONFIGURAZIONE DI ESEMPIO (.env.example)
# ==========================================

# Password del Database di Keycloak (auth-net)
DB_AUTH_PASSWORD=KeycloakAuthSecretPass123!

# Password dell'Amministratore Keycloak
KEYCLOAK_ADMIN_PASSWORD=KeycloakAdminSecretPass123!
